<h3>Character List</h3>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="
            let character of characterList; 
            let i=index;
            let isFirst = first;
            let isLast = last"
            [ngClass]="{'list-group-item-primary': isFirst,
                        'list-group-item-warning': isLast}"
            >
                <div>
                    <span class="text-danger">{{i + 1}}.</span>
                    {{character.name}} - <strong>{{character.power}} </strong>
                </div>
                <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">X</button>
            </li>
            
        </ul>
